[submodule "Image-Viewer"]
	path = Image-Viewer
	url = https://github.com/engyelsarta/Image-Viewer.git
[submodule "Research_Proposal"]
	path = Research_Proposal
	url = https://github.com/engyelsarta/Research_Proposal.git
[submodule "Dicom-Viewer"]
	path = Dicom-Viewer
	url = https://github.com/engyelsarta/Dicom-Viewer.git
[submodule "Organ_Puzzle"]
	path = Organ_Puzzle
	url = https://github.com/engyelsarta/Organ_Puzzle.git
[submodule "Organ-Identifier"]
	path = Organ-Identifier
	url = https://github.com/engyelsarta/Organ-Identifier.git
